html, body {
	padding: 0px;
	margin: 0px;
	height: 100%;
}


#container
{
	margin: 0px;
	padding: 0px;
	height:100%;
}

#container div
{
	display: inline-block;
}

#leaderBoard
{
	float:right;
	margin: 0px;
	padding: 0px;
	width: 10%;
	background-color: orange;
	height:100%;
}
#game
{
	width: 90%;
	height:100%;
	margin-left: auto;
	margin-right: auto;
	background-color: #303030;
}
/*
#body
{
	background-color: #ffffff;
}
#powers
{
	background-color: #ffff00;
}
*/
#canvas
{
	position: relative;
	width: 1000px;
	height: 500px;
	border: 8px solid red;
}
