body,html
{
	padding: 0px;
	margin: 0px;
	height: 100%;
}
#init
{
	height: 100%;
}
#menu
{
	height: 50%;
	width: 50%;
	margin: auto;
	padding:0px;
	text-align: center;	
}
#menu div
{
	display: inline-block;
}
.inline
{
	width:30%;
	height: 100%;
	margin: 0px;
	padding: 0px;

}

#leftSelect
{
}
#rightSelect
{
}
#colorSelect
{
	background-color: #333333;
	text-align: left;
}

#colorSelect div
{
	display: inline-block;
}
.btnBox
{
	width: 100%;
	height: 20%;
	padding: 0px;
	font-family: 'Denk One', sans-serif;
	color: lightblue;
	text-align: center;
	padding-top: 5px;	
}
.btnBox:hover
{
	background-color: rgba(255,0,0,1);
	color: white;
}