html, body {
	padding: 0px;
	margin: 0px;
	height: 100%;
}


#container
{
	margin: 0px;
	padding: 0px;
	height:100%;
}

#container div
{
	display: inline-block;
}

#leaderBoard
{
	margin: 0px;
	padding: 0px;
	width: 99.5%;
    background: none repeat scroll 0% 0% rgba(0, 100, 0, 0.5);
	height: 7%;
	text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-transform:uppercase;
	border: medium;
    border-style:solid;
	
}

#leaderBoard li
{
    display: inline;
    padding-left: 15px;
}

#game
{
	width: 90%;
	height:80%;
	margin-top: auto;
	
}

canvas
{
	margin-top: 1%;
	margin-bottom: 1%;
	margin-left: 10%;
	border: medium;
    	border-style:solid;
}

th
{
    border: medium;
    border-style:solid;
    background: none repeat scroll 0% 0% rgba(0, 100, 0, 0.5);
    padding: 1em;
    width: 5em;
    
}

td
{
    border: medium;
    background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.7);
    padding: 1em;
    text-align: center;
    width: 5em;
}

.option:hover
{
    background: none repeat scroll 0% 0% rgba(0, 0, 205, 1);
}

#menu
{
    margin: auto;
    width: 30%;
    height: 30%;
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

#submit
{
    background-color: #5FB0BC;
    border: 1px;
    border-style:solid;
    color: #FFF;
    font-weight: 600;
    letter-spacing: 0.07em;
    line-height: 1;
    padding: 7px 10px 5px;
}

h1
{
    text-align: center;
    text-decoration: underline;
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding: 0px;
}

body
{
    background:radial-gradient(circle, #94D2F8, #3A92C8) repeat scroll 0% 0% transparent;
}
